<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacProject1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchProject1 Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>project1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F52D0F92BD0DB57001954BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F52D1092BD0DB58001954BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F52D1132BD0DB58001954BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8253B12BDB393500491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8253C02BDB393600491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8253CA2BDB393600491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8254042BDB4C3C00491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8254142BDB4C3D00491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F82541E2BDB4C3D00491108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
